<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Create a new ticket</h1>
      <%= render 'form'%>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to "Home", root_path, class: "btn btn-primary" %>
</div>

