<h1>Showing a ticket</h1>

<p>
  name: <%= @ticket.name %>
</p>

<p>
  description: <%= @ticket.description %>
</p>

<%= link_to "Edit this ticket", edit_ticket_path(@ticket) %> |
<%= link_to "Back to tickets listing", tickets_path %>

<ul class="matrix">
      <li class="cell">
        <input type="radio" name="priority" value="1">

      </li>
      <li class="cell">
        <input type="radio" name="priority" value="2">
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="3">
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="4">

      </li>
      <li class="cell">
        <input type="radio" name="priority" value="5">
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="6">
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="7">

      </li>
      <li class="cell">
        <input type="radio" name="priority" value="8">

      </li>
      <li class="cell">
        <input type="radio" name="priority" value="9">

      </li>
    </ul>