<h1>Showing a ticket</h1>

<p>
  name: <%= @ticket.name %>
</p>

<p>
  description: <%= @ticket.description %>
</p>

<%= link_to "Edit this ticket", edit_ticket_path(@ticket) %> |
<%= link_to "Back to tickets listing", tickets_path %>